
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-color: gray;
    margin: 0 auto;
}

.contain {
    position: relative;
    margin: 30px;
    margin: 0 auto;
    text-align: center;
}

.field {
    position: relative;
    display: block;
    height: 40px;
    width: 90%;
    background-color: transparent;
    border-radius: 30px;
    margin: 600px auto;
}

button {
    position: absolute;
    bottom: 7px;
    right: 7px;
    transform: translateX(20px);
    margin: 0 auto;
}